# Science Case #5:    MAPS: an ALMA large program

The [Molecules with ALMA at Planet-forming Scales (MAPS)](http://alma-maps.info) survey, also known as 2018.1.01055.L 


See also
https://almascience.eso.org/alma-data/lp/MAPS

Data in **2018.1.01055.L**  is about 2TB

In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth',25)

from astroquery.admit import ADMIT

For now a private database, just for MAPS

In [2]:
a = ADMIT('../query/admit_maps.db')
a.check()

Found  ../query/admit_maps.db
Checking db.... 0
71 71 71
Database version: 27-feb-2022. core.py version: 26-feb-2022
header    : 1 entries
alma      : 368 entries
win       : 335 entries
lines     : 94 entries
sources   : 2403 entries

In [3]:
p = a.query(nchan='>0')
s = p['target_name'].unique()
print(len(s),' unique sources: ',s)

select * from alma inner join win on (win.a_id = alma.id)  WHERE win.nchan>=0.0

5  unique sources:  ['GM_Aur' 'MWC_480' 'IM_Lup' 'HD163296' 'AS_209']

In [4]:
p = a.query(nchan='>2',mom0flux='>0')
print(len(p))
f=p['formula'].unique()
print(len(f),'unique lines: ',f)

select * from alma inner join win on (win.a_id = alma.id)  inner join lines on (lines.w_id = win.id )  WHERE win.nchan>=2.0 AND lines.mom0flux>=0.0

94
10 unique lines:  ['HCO+' 'HCN' 'CCH' 'HC3N' 'C18O' '13CO' 'CO' 'H2CO' 'DCN' 'HCCCHO']

Note that their website reports 19 lines

13CN **13CO** C17O **C18O** C2H c-C3H2 CH3CN CN **CO** CS **DCN** H13CN H13CO+ **H2CO** HC15N **HC3N** **HCN** **HCO+** N2D+


Should list VLSR used....

In [5]:
p1 = a.query(formula="CO")

select * from alma inner join win on (win.a_id = alma.id)  inner join lines on (lines.w_id = win.id )  WHERE lines.formula='CO'

In [6]:
ci=['obs_id','target_name','s_resolution', 'vlsr']
print(s)
for s1 in s:
    p1 = a.query(source_name_alma=s1)
    print(s1,len(p1))

['GM_Aur' 'MWC_480' 'IM_Lup' 'HD163296' 'AS_209']
select * from alma inner join win on (win.a_id = alma.id)  WHERE alma.target_name='GM_Aur'

GM_Aur 57
select * from alma inner join win on (win.a_id = alma.id)  WHERE alma.target_name='MWC_480'

MWC_480 60
select * from alma inner join win on (win.a_id = alma.id)  WHERE alma.target_name='IM_Lup'

IM_Lup 89
select * from alma inner join win on (win.a_id = alma.id)  WHERE alma.target_name='HD163296'

HD163296 75
select * from alma inner join win on (win.a_id = alma.id)  WHERE alma.target_name='AS_209'

AS_209 54