# Science Case #1:

Find all <source-type> within a given area of the sky with emission from
<molecule(s)> detected.

The science motivation might be to find all young stellar objects (YSOs) in Taurus with ALMA
detections of CO J=2-1. The return from this query would include images of the moment maps of
CO emission, peak intensity, resolution, noise, correlator setting, and other relevant information
from any Taurus YSOs (as identified by science keywords, abstract text, SIMBAD coordinate
matches) in the publicly accessible ALMA Science Archive. The user could identify which data
are appropriate for their study an pull the u,v data or image cubes of interest from the archive.

Optionally, the user could then create a query to retrieve the full set of science products for all
sources, or the sources of interest. This would allow exploration of continuum and other lines
detected in the same observations. The quantitative data are returned as tables in the userâ€™s
Python environment (for example Jupyter notebook) which can then be manipulated (see Section
4), for example to produce a plot of continuum flux versus CO integrated intensity or CO
intensity versus [13CO/12CO] intensity ratio.

In [ ]:
from astroquery.admit import ADMIT, ADMIT_FORM_KEYS
from astroquery.alma import Alma, tapsql
from astropy.coordinates import SkyCoord
import pandas as pd
# display the whole table inthe notebook
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth',25)
cols_to_exclude = ['id','project_abstract','obs_title','fcoverage','science_keyword']

In [ ]:
a = ADMIT()
a.check()
a.key_description.show_in_notebook()

In [ ]:
#a.keys

In [ ]:
# correct result should have one row
result = a.query(formula="CO", transition="2-1", project_abstract="*Black Hole*")
len(result)

In [ ]:
#columns to include 
ci = [x for x in result.columns if x not in cols_to_exclude]
result[ci]

In [ ]:
result=a.query(source_name_alma="NGC3049",mom0flux=">0")
len(result)

In [ ]:
result

In [ ]:
result=a.query(source_name_alma='NGC3049',formula="*CO*")
len(result)

In [ ]:
result

### Example of how to exclude columns listed in the first cell

In [ ]:
#columns to include 
ci = [x for x in result.columns if x not in cols_to_exclude]
result[ci]

In [ ]:
result=a.query(source_name_alma='NGC3504',formula="CS")
len(result)

In [ ]:
result[ci]

In [ ]:
result1 = a.query(source_name_alma="NGC3504")
#result2 = a.query(source_name_resolver='ngc3504')
sql = "select * from alma where alma.target_name='NGC3504'"
result2 = a.sql(sql)
result2=pd.DataFrame(result2,columns=a._colnames['alma'])
result3 = a.query(source_name_alma="NGC3504",mom0flux=">-1")

In [ ]:
print(len(result1),len(result2),len(result3))

In [ ]:
result1

In [ ]:
result=a.query(scientific_category="galaxy evolution")  # case sensitive! returns zero results
len(result)

In [ ]:
result=a.query(win_snr=">1",source_name_alma="NGC3049") 
len(result)

In [ ]:
result

-------------------
tinker code below

In [ ]:
_gen_numeric_sql = _gen_str_sql = _gen_pos_sql = _gen_spec_res_sql = _gen_band_list_sql = _gen_datetime_sql = _gen_pol_sql = None

In [ ]:
ADMIT_FORM_KEYS["Lines"].values()

In [ ]:
ADMIT_FORM_KEYS.keys()

In [ ]:
if False:
    result1 = Alma.query_tap("select * from ivoa.obscore WHERE target_name = 'NGC3504'")
    result2 = Alma.query_tap("select * from ivoa.obscore WHERE target_name = 'ngc3504'")
    coord = SkyCoord.from_name('ngc3504')
    print(coord)
    sqlcoord = tapsql._gen_pos_sql('SkyCoord.from_name','ngc3504')
    print(sqlcoord)
    sql = "select * from ivoa.obscore WHERE source_name_resolver = '" +sqlcoord+"'"
    print(sql)
    if False:
        result3 = Alma.query_tap(sql) # fails