# Science Case #1a: Black Holes and CO gas

example from report, expanded to show how to add a new column with the linear scale in parsecs.

In [1]:
from astroquery.admit import ADMIT
import pandas as pd

In [2]:
a = ADMIT()
a.check()

Found  /home/teuben/ALMA/study7/query/admit.db
Checking db.... 0
71 71 71
Database version: 27-feb-2022. core.py version: 26-feb-2022
header    : 1 entries
alma      : 131 entries
win       : 130 entries
lines     : 33 entries
sources   : 801 entries

### Find projects about black holes where CO was observed.

Note: we avoid B and H for because the underlying SQL search is case sensitive

In [3]:
p = a.query(formula="CO",project_abstract="*lack*ole*")

select * from alma inner join win on (win.a_id = alma.id)  inner join lines on (lines.w_id = win.id )  WHERE lines.formula='CO' AND alma.project_abstract LIKE '%lack%ole%'

In [4]:
ci=['obs_id','target_name','s_resolution', 'vlsr']
print(p[ci])

                  obs_id target_name  s_resolution         vlsr
0  uid://A001/X1288/Xba2     NGC3049      0.332481  1447.989431
1  uid://A001/X1288/Xba6     NGC3504      0.034121  1521.106704
2  uid://A001/X1288/Xba8     NGC3504      0.200656  1521.106704
3  uid://A001/X1288/Xbae     NGC3593      0.289034   628.000000
4  uid://A001/X1288/Xbc0     NGC4414      0.223839   715.580697
5  uid://A001/X1288/Xbc4     NGC5253      0.074072   401.856222
6  uid://A001/X1288/Xbc6     NGC5253      0.258194   401.856222
7  uid://A001/X1296/X6f3   5-NGC3773      0.299770   978.913173

This looks interesting. But we like to know the resolution in physical pc, not in arcsec. 

Note: the current **s_resolution** is in arcsec, which is in error, it should have been degrees. This is a fix the archive group will make sometime in 2022

In [5]:
H0 = 75
ascale = 1.0      # this will be 3600 once s_resolution is in degrees again

p['size'] = p['s_resolution']/ascale * p['vlsr']/H0 * 1e6/206265

In [6]:
ci=['obs_id','target_name','s_resolution', 'vlsr','size']
print(p[ci])

                  obs_id target_name  s_resolution         vlsr       size
0  uid://A001/X1288/Xba2     NGC3049      0.332481  1447.989431  31.120376
1  uid://A001/X1288/Xba6     NGC3504      0.034121  1521.106704   3.355025
2  uid://A001/X1288/Xba8     NGC3504      0.200656  1521.106704  19.729870
3  uid://A001/X1288/Xbae     NGC3593      0.289034   628.000000  11.733352
4  uid://A001/X1288/Xbc0     NGC4414      0.223839   715.580697  10.353969
5  uid://A001/X1288/Xbc4     NGC5253      0.074072   401.856222   1.924158
6  uid://A001/X1288/Xbc6     NGC5253      0.258194   401.856222   6.707033
7  uid://A001/X1296/X6f3   5-NGC3773      0.299770   978.913173  18.969017

We don't have information here on the expected black hole mass, which should be ~0.01 * bulge_mass

In [7]:
p[ci].describe()

       s_resolution         vlsr       size
count      8.000000     8.000000   8.000000
mean       0.214021   952.051144  12.986600
std        0.107696   487.073056   9.806514
min        0.034121   401.856222   1.924158
25%        0.169010   571.464055   5.869031
50%        0.241016   847.246935  11.043660
75%        0.291718  1466.268749  19.159231
max        0.332481  1521.106704  31.120376